* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: BigNoodle Titling;
    src: url(../fonts/big_noodle_titling.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf)
}
@font-face {
    font-family: MgOpenModata;
    src: url(../fonts/MgOpenModata.ttf)
}
$em: 16em;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@mixin font ($family, $size, $color, $weight) {
    font-family: $family;
    font-size: $size;
    color: $color;
    font-weight: $weight;
}

.header {
position: relative;
width: 100%;
height: 143px;
background-color: #f8f6f6;
display: flex;
}
.logo {
display: flex;
width: 70.1%; 
    &__wrap {
        padding: 50px 0 0 13.3%;
    }
    &__title {
        @include font(BigNoodle Titling, 40px, #696969, normal);
        letter-spacing: 0.1em;
        padding-left: 25px;
    } 
}
.logo-link {
    text-decoration: none;
    color: inherit;
}
.nav-wrap {
    width: 38px;
    padding-top: 64px;
    cursor: pointer;
}
.smart-menu {
    display: none;
}
.burger {
    position: absolute;
    cursor: pointer;
}
.navigation {
    height: 0;
    overflow: hidden;
    display: flex;
    width: 100%;
    background-color: #000;
    &__item{
    padding: 10px 15px;
    display: inline-block;
    letter-spacing: 0.1em;
    font-size: 20/16em;
    text-decoration: none;
    color: #d2cfcf;
    text-transform: uppercase;
    font-family: Roboto;
    background-color: #000;
        &:hover {
            background-color: #9e9c9cad;
            color: #3d3d3d,
        }
    }
}
.burger:hover > svg > rect {
    fill: #9e9c9cad;
}
#smart-menu:checked ~ .burger > svg > rect {
    fill: #f26c4f;
}
#smart-menu:checked ~ .navigation {
    position: absolute;
    left: 0;
    top: 100%;
    height: 44px;
    transition: 1s linear;
}
.slider {
    background-color: #353535;
}
// начало слайдера
.slider-wrap {
width: 100%;
height: 120px;
padding: 300px 0 160px;
}
.slider-text {
    width: inherit;
    height: inherit;
    position: relative;
    input {
    display: none; 
    }
}
.text {
width: 72%;
height: inherit;
margin: auto;
text-align: center;
}
.slide {
height: inherit;
position: absolute;
width: inherit; 
background-color: #353535;
    &__title {
        @include font(BigNoodle Titling, 72px, #d6d5d5, normal);
        letter-spacing: 0.15em;
        background-color: #353535;
        &_color-red {
            @include font(BigNoodle Titling, 72px, red, normal);
            letter-spacing: 0.15em; 
            background-color: #353535;
        }
        &_color-yellow {
            @include font(BigNoodle Titling, 72px, yellow, normal);
            letter-spacing: 0.15em; 
            background-color: #353535;
        }
    }
    &__subtitle {
        @include font(BigNoodle Titling, 36px, #d6d5d5, normal);
        letter-spacing: 0.1em;
        background-color: #353535;
        &_color-red {
            @include font(BigNoodle Titling, 36px, red, normal);
            letter-spacing: 0.1em; 
            background-color: #353535;
        }
        &_color-yellow {
            @include font(BigNoodle Titling, 36px, yellow, normal);
            letter-spacing: 0.1em; 
            background-color: #353535;
        }
    }
}
.commands label {
display: none; 
}
#slide1:checked ~ .text > .slide1, #slide2:checked ~ .text > .slide2, #slide3:checked ~ .slide3 > .text {
    z-index: 1; 
}
#slide1:checked ~ .commands label:nth-child(3)::before, #slide2:checked ~ .commands label:nth-child(1)::before,
#slide3:checked ~ .commands label:nth-child(2)::before {
content: "\e686";
font-family: 'Pe-icon-7-stroke';
font-size: 120px;
color: #4c4b4b;
cursor: pointer; 
}
#slide1:checked ~ .commands label:nth-child(2)::before, #slide2:checked ~ .commands label:nth-child(3)::before,
#slide3:checked ~ .commands label:nth-child(1)::before {
content: "\e684";
font-family: 'Pe-icon-7-stroke';
font-size: 120px;
color: #4c4b4b;
cursor: pointer; 
}
#slide1:checked ~ .commands label:nth-child(3):hover, #slide2:checked ~ .commands label:nth-child(1):hover,
#slide3:checked ~ .commands label:nth-child(2):hover {
    opacity: 0.5; 
}
#slide1:checked ~ .commands label:nth-child(2):hover, #slide2:checked ~ .commands label:nth-child(3):hover,
#slide3:checked ~ .commands label:nth-child(1):hover {
opacity: 0.5; 
}
#slide1:checked ~ .commands label:nth-child(2), #slide2:checked ~ .commands label:nth-child(3),
#slide3:checked ~ .commands label:nth-child(1) {
position: absolute;
right: 0;
top: -30px;
display: block; 
}
#slide1:checked ~ .commands label:nth-child(3), #slide2:checked ~ .commands label:nth-child(1),
#slide3:checked ~ .commands label:nth-child(2) {
position: absolute;
left: 0;
top: -30px;
display: block; 
}
// конец слайдера
.scroll {
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 45px;
    &__text {
        @include font(Roboto, 12px, #fff, bold);
        text-transform: uppercase;
        margin-top: 20px;
    }
}
.pe-7s-mouse {
    color: #fff;
    font-size: 36px;
}
.about-us {
    padding-top: 94px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__main {
        @include font(BigNoodle Titling, 48px, #3d3d3d, normal);
        text-transform: uppercase;
        letter-spacing: 0.1em;
        padding-bottom: 5px;
        &_title-two {
            @include font('Roboto Condensed', 36px, #f6f6f6, normal);
            letter-spacing: 0.2em;
        }
    }
    &__line {
        width: 154px;
        background-color: #f4511e;
        height: 2px;
        border: none;
        &_width-color {
            width: 86px;
            background-color: #404040;
        }
    }
    &__sub {
        @include font(Roboto, 14px, #9a9a9a, 100);
        width: 563px;
        text-align: center;
        padding-top: 20px;
    }
}
.about-wrap {
    margin: auto;
    margin-bottom: 115px;
    display: flex;
    justify-content: space-between;
    width: 74.5%;
}
.about {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 321px;
    background-color: #ebebeb;
    &__icon {
        margin-top: 30px;
    }
    &__title {
        @include font(Roboto, 18px, #707070, bold);
        margin-top: 20px;
        letter-spacing: 0.025em;
    }
    &__text {
        margin-top: 10px;
        margin-bottom: 20px;
        @include font(Roboto, 14px, #979797, 100);
        letter-spacing: 0.025em;
        text-align: center;
    }
}
.pe-7s-paint, .pe-7s-portfolio, .pe-7s-loop {
    font-size: 60px;
    color: #f4511e;
}
.video {
    background-color: #171f23;
    display: flex;
    justify-content: space-between;
}
.video-content {
width: 35.1%;
padding-top: 120px;
padding-bottom: 100px;
margin: auto;
text-align: center;
    &__title {
        @include font(Roboto, 30px, #e7e7e7, bold);
    }
    &__subtitle {
        @include font(Roboto, 14px, #34383a, 100);
        padding-top: 20px;
        padding-bottom: 40px;
    }
}
.video-button {
background-color: #e84c3d;
text-transform: uppercase;
@include font(Roboto, 14px, #ebebeb, bold);
border: none;
border-bottom: 2px solid #b11000;
padding: 14px 29px 11px;
cursor: pointer;
    &:focus {
    outline: none;
    }
    &:hover {
        background-color: #850e03;
    }
}
.teaser {
    width: 50%;
}
.our-works {
    margin-top: 75px;
}
// начало слайдера
.slider-2-wrap {
width: 100%;
margin-top: 80px;
}
.slider-photo {
    width: inherit;
    position: relative;
    input {
    display: none; 
    }
}
.slide-photo  {
    width: inherit;
    margin-top: 25px;
    height: 524px;
}
.slider-our {
    width: inherit;
    position: absolute;
}
.slide-1 {
    background-color: orangered;
    height: inherit;
}
.slide-2 {
    background-color: blue;
    height: inherit;
}
.slide-3 {
    background-color: brown;
    height: inherit;
}
.slide-4 {
    background-color: green;
    height: inherit;
}
.slide-5 {
    background-color: grey;
    height: inherit;
}
.active {
display: flex;
justify-content: center;
    label {
    width: 115px;
    @include font(Roboto, 14px, #515151, 300);
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 8px;
        &:hover {
        border-bottom: 1px solid #e84c3d7a; 
        }
    }
}     
#slide-1:checked ~ .slide-photo > .slide-1, #slide-2:checked ~ .slide-photo > .slide-2,
#slide-3:checked ~ .slide-photo > .slide-3, #slide-4:checked ~ .slide-photo > .slide-4, 
#slide-5:checked ~ .slide-photo > .slide-5 {
    z-index: 1; 
}
#slide-1:checked ~ .active label:nth-child(1), #slide-2:checked ~ .active label:nth-child(2),
#slide-3:checked ~ .active label:nth-child(3), #slide-4:checked ~ .active label:nth-child(4),
#slide-5:checked ~ .active label:nth-child(5) {
    border-bottom: 1px solid #e84c3d; 
    font-weight: bold;
}
// конец слайдера
.clients {
    background-color: #1c1c1c;
}

// начало слайдера
.slider-clients-wrap {
width: 100%;
height: 55px;
padding: 100px 0 90px;
}
.slider-clients {
width: inherit;
height: inherit;
position: relative;
    input {
    display: none; 
    }
}
.client-text {
width: 50%;
height: inherit;
margin: auto;
}
.slider-client {
display: flex;
justify-content: space-between;
position: absolute;
width: inherit; 
height: inherit;
background-color: #1c1c1c;
}
.theme-client {
    display: flex;
    cursor: pointer;
    &__icon {
        background-image: url(../images/themeforest.png);
        width: 45px;
        height: 39px;
        &_bg-tail {
            background-image: url(../images/graphicriver.png);
            width: 51px;
            height: 55px;
        }
        &_bg-bee {
            background-image: url(../images/videohive.png);
            width: 43px;
            height: 43px;
        }
    }
    &__text {
    @include font(MgOpenModata, 33px, #ececec, normal);
    padding-left: 5px;
    }
}
.theme-client:hover > .theme-client {
    &__icon {
        background-image: url(../images/themeforest-h.png);
        &_bg-tail {
            background-image: url(../images/graphicriver-h.png);
        }
        &_bg-bee {
            background-image: url(../images/videohive-h.png);
        }
    }
    &__text {
        color: #272525;
    }
}
.commands-3 label {
display: none; 
}
#client-1:checked ~ .client-text > .client-1, #client-2:checked ~ .client-text > .client-2, 
#client-3:checked ~ .client-text > .client-3 {
    z-index: 1; 
}
#client-1:checked ~ .commands-3 label:nth-child(3)::before, #client-2:checked ~ .commands-3 label:nth-child(1)::before,
#client-3:checked ~ .commands-3 label:nth-child(2)::before {
content: "\e686";
font-family: 'Pe-icon-7-stroke';
font-size: 72px;
color: #4c4b4b;
cursor: pointer; 
}
#client-1:checked ~ .commands-3 label:nth-child(2)::before, #client-2:checked ~ .commands-3 label:nth-child(3)::before,
#client-3:checked ~ .commands-3 label:nth-child(1)::before {
content: "\e684";
font-family: 'Pe-icon-7-stroke';
font-size: 72px;
color: #4c4b4b;
cursor: pointer; 
}
#client-1:checked ~ .commands-3 label:nth-child(3):hover, #client-2:checked ~ .commands-3 label:nth-child(1):hover,
#client-3:checked ~ .commands-3 label:nth-child(2):hover {
    opacity: 0.5; 
}
#client-1:checked ~ .commands-3 label:nth-child(2):hover, #client-2:checked ~ .commands-3 label:nth-child(3):hover,
#client-3:checked ~ .commands-3 label:nth-child(1):hover {
opacity: 0.5; 
}
#client-1:checked ~ .commands-3 label:nth-child(2), #client-2:checked ~ .commands-3 label:nth-child(3),
#client-3:checked ~ .commands-3 label:nth-child(1) {
position: absolute;
right: 200px;
top: -18px;
display: block; 
}
#client-1:checked ~ .commands-3 label:nth-child(3), #client-2:checked ~ .commands-3 label:nth-child(1),
#client-3:checked ~ .commands-3 label:nth-child(2) {
position: absolute;
left: 200px;
top: -18px;
display: block; 
}
// конец слайдера

.who-we {
    margin: 80px 0 100px;
    .who-content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
    }
}
// начало слайдера
.slider-member {
    margin: auto;
    width: 1003px;
    height: 441px;
    position: relative;
    margin-top: 80px;
    input {
        display: none;
    }
    &__slides {
        position: absolute;
        width: inherit;
        height: inherit;
    }
}
.member {
    width: 320px;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__photo {
        width: 135px;
        height: 135px;
        background-color: #f26c4f;
        border-radius: 50%;
        margin-top: 70px;
    }
    &__name {
    margin-top: 30px;
    @include font(Roboto, 20px, #3d3d3d, bold);
    letter-spacing: 0.1em;
    }
    &__work {
    @include font(Roboto, 14px, #4f4f4f, 300);
    letter-spacing: 0.1em;
    }
    &__socials {
        padding-bottom: 40px;
        margin-top: 15px;
        .fa-behance, .fa-twitter, .fa-facebook-official {
            color: #696969;
            cursor: pointer;
        }
        .fa-behance, .fa-twitter {
            margin-right: 7px;
        }
    }
}
.skills-wrap {
    padding: 120px 50px 85px 65px;
}
.skills {
    width: 661px;
    background-color: #ebebeb;
    box-sizing: border-box;
    &__title {
        @include font('Roboto Condensed', 24px, #3d3d3d, bolder);
        letter-spacing: 0.1em;
    }
    &__subtitle {
        padding: 20px 0 40px;
        @include font(Roboto, 14px, #a4a3a3, 100);
    }
}
.skill-content {
    display: flex;
    justify-content: space-between;
}
.skill-title {
    .skill__ph, .skill__il, .skill__sk, .skill__ae {
    @include font(Roboto, 14px, #3d3d3d, bold);
    letter-spacing: 0.1em;
    }
    &__position {
    padding-top: 15px;
    }
}
.status {
    display: flex;
    &__line {
        align-self: center;
        width: 370px;
        height: 1px;
        background: linear-gradient(to right, #e84c3d 88%, #fff 12%);
        margin-right: 10px;
        &_bg-92 {
            background: linear-gradient(to right, #e84c3d 92%, #fff 8%);
        }
        &_bg-90 {
            background: linear-gradient(to right, #e84c3d 90%, #fff 10%);
        }
        &_bg-98 {
            background: linear-gradient(to right, #e84c3d 98%, #fff 2%);
        }
        &_bg-100 {
            background: linear-gradient(to right, #e84c3d 100%);
        }
        &_bg-82 {
            background: linear-gradient(to right, #e84c3d 82%, #fff 18%);
        }
        &_bg-78 {
            background: linear-gradient(to right, #e84c3d 78%, #fff 22%);
        }
    }
    &__persent {
    @include font(Roboto, 14px, #3d3d3d, 300);
    }
    &__position {
        padding-top: 15px;
    }
}
#slide-member-1:checked ~ .slider-member__slides > .slide-member-1, #slide-member-2:checked ~ .slider-member__slides > .slide-member-2, 
#slide-member-3:checked ~ .slider-member__slides > .slide-member-3 {
    z-index: 1; 
}
.commands-4 {
    display: flex;
    position: absolute;
    top: 79%;
    left: 135px;
    label {
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        z-index: 1;
        margin-right: 9px;
    }
}
#slide-member-1:checked ~ .commands-4 label:nth-child(1), #slide-member-2:checked ~ .commands-4 label:nth-child(2),
#slide-member-3:checked ~ .commands-4 label:nth-child(3) {
    background-color: #8e8181; 
}
// конец слайдера

.some-features {
    background-color: #171f23;
    padding: 55px 0px;
}
.pe-7s-monitor, .pe-7s-settings, .pe-7s-shopbag, .pe-7s-medal {
    color: #ff7062;
    font-size: 60px;
}
.features-wrap {
    display: flex;
    justify-content: center;
}
.features {
    text-align: center;
    &__text {
        padding-top: 20px;
        @include font(Roboto, 18px, #f6f6f6, 300);
    }
    &__number {
    padding-top: 20px;
    @include font(Roboto, 48px, #f6f6f6, 300);
    }
    &__position {
        margin-top: 40px;
        margin-left: 100px;
        &_margin-left-none {
            margin-left: 0;
            margin-top: 40px;
        }
    }
}
.blogs {
    padding: 70px 0 110px;

}
.blog-content-wrap {
    display: flex;
    justify-content: space-between;
    width: 1004px;
    margin: auto;
}
.blog-content {
    width: 321px;
    &__position {
        margin-top: 70px;
    }
    .blog-img-1 {
        position: relative;
        &__picture {
            display: block;
            width: 100%;
        }
    }
}
   .blog {
    background-color: #ebebeb;
    padding: 35px 20px 20px 20px;
        &__title {
            letter-spacing: 0.1em;
            @include font(Roboto, 18px, #505050, 300);
        }
        &__text {
            padding: 20px 0px;
            letter-spacing: 0.05em;
            @include font(Roboto, 14px, #828282, 100);
        }
    }
    .blog-footer {
        display: flex;
        justify-content: space-between;
        &__date, &__commit {
            @include font ('Roboto Condensed', 10px, #8a8989, normal);
            letter-spacing: 0.1em;
        }
    .pe-7s-clock, .pe-7s-like2, .pe-7s-comment {
        font-size: 14px;
        vertical-align: text-top;
    }
}
.blog-img-hover {
    position: absolute;
    display: none;
    font-size: 24px;
    top: 85px;
    left: 34%;
}
.blog-img-1:hover > .blog-img-hover {
    display: flex;
}
.blog-img-2, .blog-img-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    &:hover {
        background-color: #e87e5d;
        color: #fff;
    }
}
.blog-img-2 {
    &_margin-right-20 {
        margin-right: 20px;
    }
}
.pricing {
    padding: 60px 0 90px;
    background-color: #171f23;
}
.price-wrap {
    margin: auto;
    margin-top: 55px;   
    width: 69%;
    display: flex;
    justify-content: space-between;
}
.price {
    width: 230px;
    background-color: #1f282c;
    text-align: center;
    padding-bottom: 45px;
    border: 1px solid #171f23;
    &:hover {
        border: 1px solid #f6744b;
    }
}
.price:hover > .offer-wrap > .offer > .offer__numb {
    color: #f6744b;
}
.price-title {
    background-color: #0e1316;
    padding: 40px 0 35px;
    &__name {
        @include font(Roboto, 14px, #fff, normal);
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .price-cost {
        display: flex;
        justify-content: center;
        align-items: baseline;
        &__value {
        @include font(Roboto, 24px, #fff, normal);
        }
        &__numb {
        @include font(Roboto, 36px, #fff, normal);
        }
    }
}
.offer-wrap {
    padding: 45px 0;
}
.offer {
    display: flex;
    justify-content: center;
    &__numb {
    @include font(Roboto, 14px, #fff, bold);
    }
    &__word {
        padding-left: 8px;
        @include font(Roboto, 14px, #fff, normal);
    }
    &__position {
        padding-top: 15px;
    }
}
.button {
    padding: 12px 20px;
    text-transform: uppercase;
    @include font(Roboto, 14px, #fff, bold);
    letter-spacing: 0.1em;
    background-color: #f6744b;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        background-color: #b11000;
    }
    &:focus {
        outline: none;
    } 
}
.contact {
    padding: 80px 0;
}
.contact-form {
    display: flex;
    width: 56.6%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    &__position {
        margin-top: 90px;
    }
}
.contact-block-1, .contact-block-2 {
    width: 48.2%;
}
.contact-block-3 {
    width: 100%;
    &__position {
        margin-top: 45px;
    }
}
.contact-text {
    @include font(Roboto, 14px, #696969, bold);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    &__name, &__email, &__commit {
        width: 100%;
        @include font(Roboto, 20px, #696969, normal);
        margin-top: 60px;
        border: none;
        border-bottom: 1px solid #cacaca;
        &:focus {
            outline: none;
        }
    }
    &__star {
        margin-left: 5px;
        color: #f6744b;
    }
}
.button_contact {
    padding: 20px 40px;
    border-radius: 0px; 
}
.button-contact {
    &__position {
        margin: auto;
        margin-top: 60px;
    }
}
.footer {
    padding-bottom: 42px;
    text-align: center;
    background-color: #171f23;
    &__map {
        #map {
            display: none;
        }
        .location { 
            display: flex;    
            justify-content: center;
            align-items: center;       
            padding: 14px 0;
            background-color: #0c1215;
            line-height: 24px;
            &__text {
                text-transform: uppercase;
                @include font(Roboto Condensed, 24px, #fff, normal);
                letter-spacing: 0.1em;
                cursor: default;
            }
            &__map {                
                color: #f6744b;
                font-size: 48px;
                cursor: pointer;
                transition: 0.3s linear;
            }
        }
    }
    &__logo {
        margin-top: 50px;
    }
    &__title {
        @include font(BigNoodle Titling, 24px, #fff, normal);
        letter-spacing: 0.1em;
    }
    &__text {
        margin-top: 5px;
        @include font(Roboto Condensed, 14px, #fff, normal);
        letter-spacing: 0.1em;
    }
    &__socials {
        margin-top: 10px;
        .fa-behance, .fa-twitter, .fa-facebook-official {
            color: #696969;
            cursor: pointer;
            margin-right: 7px;
        }
    }
}
.google-map {
    height: 0;
    transition: 0.4s linear;
}
#map:checked ~ .google-map {
    height: 400px;
    transition: 0.4s linear;
}
#map:checked ~ .location > .location__map {
    transform: rotate(180deg);
    transition: 0.3s linear;
}
@media screen and (max-width: 780px) {
    #smart-menu:checked ~ .navigation {
        text-align: center;
        flex-direction: column;
        height: 308px;
        z-index: 2;
    }
    .slider-wrap {
        padding: 50px 0 60px
    }
    #slide1:checked ~ .commands label:nth-child(3), #slide2:checked ~ .commands label:nth-child(1), 
    #slide3:checked ~ .commands label:nth-child(2), #slide1:checked ~ .commands label:nth-child(2), 
    #slide2:checked ~ .commands label:nth-child(3), #slide3:checked ~ .commands label:nth-child(1) {
        top: 0px;
    }
    .slide {
        &__title {
            font-size: 55px;
            &_color-red, &_color-yellow {
                font-size: 55px;
            }
        }
    }
    .about-us {
        padding-top: 50px;
    }
    .about-wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
    .video-content {
        padding: 20px 0;
        &__subtitle {
            padding: 10px 0;
        }
    }
    .our-works {
        margin-top: 50px;
    }
    .slider-2-wrap {
        margin-top: 50px;
    }
    .client-text {
        width: 83%;
    }
    #client-1:checked ~ .commands-3 label:nth-child(3), #client-2:checked ~ .commands-3 label:nth-child(1), 
    #client-3:checked ~ .commands-3 label:nth-child(2) {
        left: 0;
    }
    #client-1:checked ~ .commands-3 label:nth-child(2), #client-2:checked ~ .commands-3 label:nth-child(3), 
    #client-3:checked ~ .commands-3 label:nth-child(1) {
        right: 0;
    }
    .who-we {
        margin-top: 50px;
        .who-content {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .slider-member {
    width: 100%;
    height: 626px;
    margin-top: 40px;
    }
    .commands-4 {
        top: 51%;
        left: 47%;
    }
    .skills-wrap {
        padding: 40px;
        margin-top: 20px;
    }
    .features-wrap {
        justify-content: space-around;
    }
    .features {
        &__position {
            margin-left: 0;
        }
    }
    .blog-content-wrap {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .price-wrap {
        width: 83%;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: space-around;
    }
    .price {
        margin-top: 20px;
    }
    .contact {
        padding: 50px 0;
    }
    .contact-form {
        &__position {
        margin-top: 40px;
        }
    }
    .contact-text {
        &__name, &__email, &__commit {
            margin-top: 20px;
        }
    }
    .footer {
        &__logo {
        margin-top: 20px;
        }
    }
}
@media screen and (max-width: 520px) {
    .slide {
        &__title {
            font-size: 30px;
            &_color-red, &_color-yellow {
                font-size: 30px;
            }
        }
        &__subtitle {
            font-size: 24px;
            &_color-red, &_color-yellow {
                font-size: 24px;
            }
        }
    }
    #slide1:checked ~ .commands label:nth-child(2)::before, #slide2:checked ~ .commands label:nth-child(3)::before,
    #slide3:checked ~ .commands label:nth-child(1)::before, #slide1:checked ~ .commands label:nth-child(3)::before,
    #slide2:checked ~ .commands label:nth-child(1)::before, #slide3:checked ~ .commands label:nth-child(2)::before {
        font-size: 60px;
    }
    .slider-wrap {
        padding: 50px 0 25px;
        height: 80px;
    }
   .text {
       width: 80%;
   }
   .title {
       &__sub {
           width: 100%;
       }
   }
   .video {
       display: block;
       padding-bottom: 20px;
   }
   .video-content {
    width: 90.1%;
   }
    .teaser {
        width: 80%;
        margin: auto;
        height: 277px;
    }
    .active {
        label {
            font-size: 10px;
            margin-right: 0;
        }
    }
    .slide-photo {
        height: 400px;
    }
    .slider-clients-wrap {
        height: 106px;
        padding: 50px 0;
    }
    .theme-client {
        &__text {
            font-size: 25px;
       }
    }
    .slider-client {
        padding-top: 5px;
        flex-wrap: wrap;
        justify-content: center;
    }
    #client-1:checked ~ .commands-3 label:nth-child(3), #client-2:checked ~ .commands-3 label:nth-child(1),
    #client-3:checked ~ .commands-3 label:nth-child(2), #client-1:checked ~ .commands-3 label:nth-child(2),
    #client-2:checked ~ .commands-3 label:nth-child(3), #client-3:checked ~ .commands-3 label:nth-child(1) {
        top: 10px;
    }
    .status {
        &__line {
            width: 270px;
        }
    }
    .features-wrap {
    margin: auto;
    flex-wrap: wrap;
    width: 72%;
    }
}
